/* COLORES */
.rosa {
	background-color: #C8204D;
}

.gris {
	background-color: gainsboro;
}

.negro {
	background-color: black;
}

.blanco {
	background-color: white;
}

/* color texto */

.blancoTxt {
	color: white;
}

.negroTxt {
	color: white;
}

.rosaTxt {
	color: #C8204D;
}


/* nav */
.navPrincipal{
	margin: 0;	
}

.navPrincipal a{
	color: dimgrey;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5vh;
}

.navPrincipal a:hover{
	color: white;
}

.navPrincipal span{
	font-family: 'Josefin Sans', sans-serif;
	color: #C8204D;
}

.logo-nav{
	margin-top: .5%;
}

@media (min-width: 700px) and (orientation: landscape) {
	/* nav */
	.navPrincipal{
		margin: 0;	
	}

	.navPrincipal a{
		color: dimgrey;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.8vh;
	}

	.navPrincipal a:hover{
		color: white;
	}

	.navPrincipal span{
		font-family: 'Josefin Sans', sans-serif;
		color: #C8204D;
		padding-left: 3%;
		padding-right: 3%;
	}

	.logo-nav{
		margin-top: .4%;
	}
}




/* INTRO */
#intro{
	width: 100%;
	height: 100vh;
	background-color: black;
	padding-top: 14%;
	margin-bottom: 1px; 
}

.contenedorTitulo div p{
	font-family: 'Josefin Sans', sans-serif;
	color: dimgrey;
	font-size: 2.4vh;
}

.ContenedorImg-intro div{
	width: 100%;
	height: auto;
}

#intro>.contenedorImgIntro>div>img {
	text-align: center;
	width: 95%;
	height: auto;
	margin-top: 23%;
	margin-left: 2%;
}

.contenedorPintro{
	margin: 0;
	padding: 0;
}

@media (min-width: 700px) and (orientation: landscape) {
	
	#intro{
	width: 100%;
	height: 100vh;
	background-color: black;
	padding-top: 2%;
	margin-bottom: 1px; 
	}

	.contenedorTitulo div p{
		font-family: 'Josefin Sans', sans-serif;
		color: dimgrey;
		font-size: 2.4vh;
	}

	.ContenedorImg-intro div{
		width: 100%;
		height: auto;
	}

	#intro>.contenedorImgIntro>div>img {
		text-align: center;
		width: 60%;
		height: auto;
		margin-top: 4%;
		margin-left: 20%;
	}

}


 /*SOBRE MÍ*/
#sobreMi {
	margin-top: -1px;
	width: 100%;
	height: 100vh;
}

.mitadIzquierda {
	width: 100%;
	height: 100vh;
}

.mitadDerecha {
	width: 100%;
	height: 100vh;
}

 /* SERVICIOS */
#servicios {
	margin-top: -1px;
	width: 100%;
	height: 100vh;
}

 /* SERVICIOS */
#portafolio {
	margin-top: -1px;
	width: 100%;
	height: 100vh;
}

/*CONTACTO*/

#contacto {
	margin-top: -1px;
	width: 100%;
	height: 100vh;
}

/* PORTAFOLIO */

@media (max-width: 700px) {
	#portafolio section div.negro{
		background: white;
	}
	
}



footer{
	margin: 0;
	padding-top: 2%;
	background-color: dimgrey;
	height: 100%;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

footer div div {
	width: 100%;
}

footer div div img {
	width:10%;	
}

footer div span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2vh;
	}

@media (min-width: 700px) and (orientation: landscape) {
	footer{
		margin: 0;
		padding-top: 2%;
		background-color: dimgrey;
		height: 100%;
		color: white;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1em;
	}
	
	footer div div img {
	width:5%;	
}
	
	footer div span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: .5em;
	}
	
}
