/* COLORES */
.rosa {
	background-color: #C8204D;
}

.gris {
	background-color: gainsboro;
}

.negro {
	background-color: black;
}

.blanco {
	background-color: white;
}

/* color texto */

.blancoTxt {
	color: white;
}

.negroTxt {
	color: white;
}

.rosaTxt {
	color: #C8204D;
}


/* SECTION MEDIDAS */
.sectionMedidas {
	width: 100%;
	height: 100vh;
}


/* NAV */
.navPrincipal{
	margin: 0;	
}

.navPrincipal a{
	color: #B5B4B4;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.7vh;
}

.navPrincipal a:hover{
	color: white;
}

.navPrincipal span{
	font-family: 'Josefin Sans', sans-serif;
	color: #C8204D;
}

.logo-nav{
	margin-top: .5%;
}

@media (min-width: 700px) and (orientation: landscape) {
	/* nav */
	.navPrincipal{
		margin: 0;	
	}

	.navPrincipal a{
		color: #B5B4B4;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2vh;
	}

	.navPrincipal a:hover{
		color: white;
	}

	.navPrincipal span{
		font-family: 'Josefin Sans', sans-serif;
		color: #C8204D;
		padding-left: 3%;
		padding-right: 3%;
	}

	.logo-nav{
		margin-top: .4%;
	}
}


/* INTRO */

#intro{
	width: 100%;
	height: 101vh;
	background-color: black;
	padding-top: 29%;
}

.contenedorTitulo div p{
	font-family: 'Josefin Sans', sans-serif;
	color: dimgrey;
	font-size: 2.4vh;
	padding-top: 15%;
}

.ContenedorImg-intro div{
	width: 100%;
	height: auto;
}

#intro>.contenedorImgIntro>div>img {
	text-align: center;
	width: 95%;
	height: auto;
	margin-top: 22%;
	margin-left: 2%;
}

.contenedorPintro{
	margin: 0;
	padding: 0;
}

@media (min-width: 700px) and (orientation: landscape) {
	
	#intro{
	width: 100%;
	height: 100vh;
	background-color: black;
	padding-top: 2%;
	margin-bottom: 1px; 
	}

	.contenedorTitulo div p{
		font-family: 'Josefin Sans', sans-serif;
		color: dimgrey;
		font-size: 2.4vh;
	}

	.ContenedorImg-intro div{
		width: 100%;
		height: auto;
	}

	#intro>.contenedorImgIntro>div>img {
		text-align: center;
		width: 60%;
		height: auto;
		margin-top: 4%;
		margin-left: 20%;
	}
}

 /*  ---- SOBRE MÍ ---- */

section#sobreMi section.row div {
	height: 100%;
}

section#sobreMi section.row div.rosa img#karlaHexagono {
	width: 30%;
	margin-left: 87%;
	margin-top: 16%;
}

section#sobreMi section.row div.rosa img#sobreMiImg {
	width: 80%;
	margin-left: 8%;
	margin-top: 8%;
}

p#parrafoSobreMi.col.m7.offset-m3 
{
	padding-top: 40%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3vh;
	text-align: center;
}

p#parrafoSobreMiDos.col.m7.offset-m3 
{
	padding-top: 4%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3vh;
	text-align: justify;
}

@media (max-width: 700px) {
    section#sobreMi section.row div.rosa img#karlaHexagono {
    width: 30%;
    margin-left: 35%;
    margin-top: 23%;
    }    
    
    section#sobreMi section.row div.rosa img#sobreMiImg {
    width: 47%;
	margin-top: 8%;
    margin-left: 25%;
    margin-right: 5%;
	}
	
	p#parrafoSobreMi.col.m7.offset-m3 {
	padding-top: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3vh;
	text-align: center;
	}

p#parrafoSobreMiDos.col.m7.offset-m3 {
	padding-top: 1%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3vh;
	text-align: justify;
	}
}

 /* ---- HABILIDADES ---- */

section#habilidades {
	font-family: 'Josefin Sans', sans-serif;
}

section#habilidades section.row.sectionMedidas {
	margin: 0;
}

section#habilidades section.row.sectionMedidas div.hide-on-small-only{
	height: 100%;
}

section#habilidades section.row.sectionMedidas div.hide-on-small-only img {
	margin-left: 9%;
	margin-top: 49%;
	width: 83%;
}

.pding-l {
	padding-left: 13%;
}

.pding-top {
	padding-top: 20%;
}

.pding-t {
	padding-left: 7%;
	padding-top: 12%;
}

.font-dosvh {
	font-size: 4vh;
}

.sin-padding {
	padding: 0;
	margin: 0;
}

.img-desktop-habilidades img{
	width: 88%;
}

.img-desktop-habilidades-dos img{
	width: 40%;
	padding-right: 5%;
}

@media (max-width: 700px) {
	#habilidades{
		padding-top: 20%;
	}
	
	.pding-l {
		padding-left: 0;
	}
	
	.pding-t {
		padding-left: 7%;
		padding-top: 2%;
	}
	
	.img-mobile-habilidades img {
		width: 80%;
	}
	
	.img-mobile-habilidades-dos img {
		width: 36%;
	}
	
	.font-dosvh {
		font-size: 3vh;
		text-align: center;
	}
	
	.contenedorImagen-habilidades{
		margin: 0;
		padding: 0;
	}
	
	#habilidadesTitulo-mobile {
		width: 60%;
		margin-left: 18%;
		margin-bottom: 0;
	}
	
}

/* PORTAFOLIO */

section#portafolio section.row.sectionMedidas div.hide-on-small-only {
	height: 100%;
	padding-top: 20%;
}

section#portafolio section.row.sectionMedidas div.col.s12.m6.l6.xl6 {
	background: white;
	height: 100%;
}

img#imgPortafolio {
	width: 82%;
}

div.col.s10.m10.offset-s1.offset-m1.carousel.initialized {
	margin: -35% 0 0 10%;
	padding: 0;
}

img#titulo-portafolio-mobile {
	width: 70%;
	margin-top: 17%;
	margin-left: 13%;
}

div.row.carouselMobile-desktop.hide-on-med-and-down{
	margin-top: 8%;
}

.p {
    margin: 0;
}

.pd-lft-btns{
	padding-left: 8%;
	margin-top: -6%;
}

.btn, .btn-large, .col.s3 {
    background-color: white;
	color: #C8204D;
}

@media (max-width: 700px) {
	#portafolio section div.negro{
		background: white;
	}
	
	section#portafolio section.row.sectionMedidas div.col.s12.m6.l6.xl6 {
		background-color: #EDEDED;
	}
}


/* ----- CONTACTO ----- */

section#contacto section.row div.col.s12.m6.l6.xl6.rosa {
	height: 100%;
	padding-top: 20%;
}

section#contacto section.row div.col.s12.m6.l6.xl6.rosa img {
	width: 83%;
	margin-left: 12%;
}

.img-contacto-desktop {
	width: 30%;
}

@media (max-width: 700px) {
	img-contacto-mobile{
		width: 80%;
	}
	
	section#contacto section.row div.col.s7.m6.l6.xl6.offset-s2{
		padding-top: 25%;
	}
	
	section#contacto section.row div.col.s7.m6.l6.xl6.offset-s2 div{
		margin-bottom: 0;
	}
	
	#tituloContacto {
		width: 95%;
		margin-left: 5%;
	}
	
	.pding-top{
		padding-top: 0;
	}
	
}



/* --- FOOTER ---*/

footer{
	padding-top: 2%;
	background-color: dimgrey;
	height: 100%;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

footer div div {
	width: 100%;
}

footer div div img {
	width:10%;
	margin-left: 6%;
}

footer div span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2vh;
	}

@media (min-width: 700px) and (orientation: landscape) {
	footer{
		margin: 0;
		padding-top: 2%;
		background-color: dimgrey;
		height: 100%;
		color: white;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1em;
	}
	
	footer div div img {
	width:8%;	
}
	
	footer div span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: .5em;
	}
	
}

.btn, .btn-large {
	background-color: #C8204D;
	border-radius: 10%;
	color: white;
	border-color: 2px solid #C8204D;
	font-size: 1.5vh;
}

.btn:hover {
	background-color: white;
	color: #C8204D;
}


/* BARRA PROGRESO */

.progress {
  width: 500px;
  height: 16px;
  background-color: #c5c5c5;
  border-radius: 16px;
  padding: 4px;
}

.bar {
  background-color: #f5f5f5;
  width: 10%;
  height: 100%;
  border-radius: 16px;
  animation-name: increase;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


#intermedio{
	animation-name: increase;
}

#basico{
	animation-name: increase-20;
}

@keyframes increase {
  from {
    width: 0%
  }
  to {
    width: 50%
  }
}

@keyframes increase-20{
  from {
    width: 0%
  }
  to {
    width: 25%
  }
}

/*  EFECTO TYPING */
